services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: world-news-backend
    ports:
      - "8014:8014"
    env_file:
      - .env
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8014 --workers 1

